section.categories {
 height: calc(100vh - 60px);
 margin-top: 60px;
}

.category-card {
 flex: 1;
 height: 100%;
 position: relative;
 transition: 0.3s ease-in-out;
 overflow: hidden;
 border-radius: 20px;
 margin-left: 5px;
}

.category-card:first-child {
 flex: 3;
 margin-left: 0;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
}

.category-card:last-child {
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
}

.category-card .card-image {
 position: absolute;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 z-index: 1;
}

.category-card .overlay .card-text {
 width: 250px;
 height: 60px;
 background-color: #ffffff94;
 border-radius: 5px;
 backdrop-filter: blur(5px);
 transition: 0.3s ease-in-out;
 position: relative;
}

.categories:hover .category-card:not(:hover) {
 flex: 1;
}

.categories:hover .category-card:hover {
 flex: 3;
}

.category-card .overlay .card-text::after {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 width: 250px;
 height: 60px;
 box-sizing: border-box;
 border: 2px dashed transparent;
 border-radius: 5px;
}

.category-card:hover .overlay .card-text {
 width: 80%;
 height: 80%;
 background-color: #ffffff5f;
 backdrop-filter: 2px;
 font-size: 40px;
}

.category-card:hover .overlay .card-text::after {
 top: 15px;
 left: 15px;
 bottom: 15px;
 right: 15px;
 width: auto;
 height: auto;
 border: 2px dashed #10401b;
}


header {
 height: 100vh;
}

header .splide{
 width: 100%!important;
}

header .path {
 height: 100%;
 width: 100%;
 clip-path: circle(50% at 13% 48%);
 background-color: var(--color-green);
 position: relative;
}

header img {
 height: 600px;
 object-fit: contain;
 position: absolute;
 top: calc(55% - 300px);
}