* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Merriweather', serif;
    color: #10401b;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
}

.d-flex {
    display: flex
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.p1 {
    padding: 5px;
}

body {
    background: #fff;
}

.color {
    background-color: #fff;
}

p {
    line-height: 1.5;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 2;
}

button.btn {
    padding: 10px 20px;
    border: 2px solid transparent;
    transition: 0.5s;
    outline: none;
    background: #eeaf00;
    color: #fff;
    font-size: 18px;
    font-family: 'EB Garamond', serif;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 100vmax;
    width: 200px;
}

button.btn:hover {
    background: transparent;
    border: 2px solid #eeaf00;
    color: #eeaf00;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.section-header {
    font-size: 50px;
    color: #46670f;
    margin-bottom: 20px;
}

.padding-x {
    padding-left: 3rem;
    padding-right: 3rem;
}

.text-center {
    text-align: center;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: #f1f1f1;
    display: none;
}

.loader img {
    width: 100px;
    height: 100px;
}

.loader.show {
    display: flex;
}

.padding-x {
    padding-left: 3rem;
    padding-right: 3rem;
}

nav {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background-color: #ffffff;
    z-index: 2;
    transition: 0.5s;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    z-index: 100;
}

nav .nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
}

nav .nav-wrapper ul {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

nav .nav-wrapper>a {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Gabriela', serif;
    color: #46670f;
}

nav .nav-wrapper>a img {
    width: 30px;
    height: 30px;
}

nav .nav-wrapper li a {
    font-weight: 600;
    color: #10401b;
    position: relative;
}

nav .nav-wrapper li a.badge::after {
    content: 'Tezliklə';
    position: absolute;
    transform: translateX(20%);
    right: -80%;
    top: -50%;
    background: rgb(208, 19, 19);
    padding: 2px 5px;
    font-size: 8px;
    border-radius: 100vmax;
    color: #fff;
}


.splide__slide {
    display: flex;
    background-color: #f8f2ed;
}

.splide__slide .heading {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.splide__slide .walpapper {
    flex: 2;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: right bottom !important;
    height: 100vh;
}

.splide__slide .walpapper.tea {
    background: url(../img/bg.jpg);
}

.splide__slide .walpapper.coffee {
    background: url(../img/coffee1.jpg);
}

.splide__slide .walpapper.honey {
    background: url(../img/honey1.jpg);
}

.splide__slide .walpapper.teaware {
    background: url(../img/teaware.jpg);
}


header.honeyheader .overlay h1,
header.coffeeheader .overlay h1,
header.teawareheader .overlay h1 {
    color: #f1f1f1;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

header .overlay p {
    font-size: 20px;
    font-family: 'EB Garamond', serif;
    color: #10401b;
    line-height: 1.5;
}

.splide {
    width: 100%;
    height: 100vh;
    padding: 0 !important;
}

.splide .splide__arrow {
    display: none !important;
}

.category {
    flex: 1 0 100px;
    aspect-ratio: 1/1;
}

.category img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.category h4 {
    font-size: 20px;
    color: #10401b;
    text-align: center;
    margin-top: 10px;
}

.category-box {
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

section.goodtea {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 100px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 60vh;
    background-color: #f1f1f1;
    position: relative;
}

section.goodtea .img {
    flex: 1 0 50%;
    height: 120%;
    position: absolute;
    z-index: 100;
    top: -15%;
    right: 3rem;
    filter: drop-shadow(5px 5px 5px #dddd);
    -webkit-animation: rotate 60s normal linear infinite;
    animation: rotate 60s normal linear infinite;
}

@keyframes rotate {
    0% {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }

    25% {
        -webkit-transform: rotate3d(0, 0, 1, 90deg);
        transform: rotate3d(0, 0, 1, 90deg);
    }

    50% {
        -webkit-transform: rotate3d(0, 0, 1, 180deg);
        transform: rotate3d(0, 0, 1, 180deg);
    }

    75% {
        -webkit-transform: rotate3d(0, 0, 1, 270deg);
        transform: rotate3d(0, 0, 1, 270deg);
    }

    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

section.goodtea .text {
    flex: 1 0 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 50%;
}

section.goodtea .text h1 {
    font-size: 30px;
}

section.featured {
    background-color: #46670f;
    position: relative;
    min-height: 50vh;
}

section.featured .buttons {
    position: absolute;
    height: 60px;
    border: 10px solid #fff;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 50%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 100vmax;
}

section.featured .buttons button {
    flex: 1 0 25%;
    height: 100%;
    background-color: #46670f;
    border: 0;
    outline: 0;
    color: #fff;
    cursor: pointer;
}

section.featured .buttons button.active {
    background-color: #eeaf00;
    color: #fff;
}

.cards {
    display: flex;
    gap: calc(5% / 4);
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding-top: 90px;
    padding-bottom: 50px;
    row-gap: 20px;

}