.card {
    width: 19%;
    height: 350px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.card .card-image {
    height: 60%;
    position: relative;
    overflow: hidden;
}

.card .card-image img {
    object-fit: contain;
}

.card .left {
    flex: 3;
    height: 100%;
}

.card .card-bottom {
    width: 100%;
    height: 40%;
}

.card .card-bottom .stars {
    height: 30%;
}
.card .card-bottom .content {
    height: 40%;
}
.card .card-bottom .add-to-cart {
    height: 30%;
    border: 0;
    width: 100%;
    background-color: #eeaf00;
    color: #fff;
    font-weight: 600;
}

.card .right {
    flex: 1;
    height: 100%;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
}

.card .card-bottom .left small.category {
    font-size: 10px;
    color: #46670f;
}
